.neon-text {
  text-shadow:
    0 0 4px #a855f7,
    0 0 8px #c084fc,
    0 0 12px #d8b4fe,
    0 0 16px #f0abfc;
  color: #d8b4fe;
}

.shadow-neon {
  box-shadow:
    0 0 10px #a855f7,
    0 0 20px #c084fc,
    0 0 30px #d8b4fe,
    0 0 40px #f0abfc;
  border: 1px solid;
}
